* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Rubik-Medium";
  src: url("aset/font/Rubik-Medium.woff") format("woff");
}

/* Style Bagian Header */
header {
  font-family: "Rubik-Medium";
}

header {
  max-width: 100%;
  background-image: linear-gradient(to right,
      rgb(255, 0, 0),
      rgb(255, 255, 255));
  display: flex;
  justify-content: space-between;
  border-bottom: 3px solid gray;
  margin-bottom: 50px;
}

.menu {
  padding: 20px;
  color: white;
  text-shadow: 2px 2px 3px gray;
}

.menu>h1 {
  font-size: 40px;
}

.menu>p {
  font-size: 20px;
}

.menu>p::before {
  content: 'Selamat Hari Lahir Pancasila 1 Juni 2020.';
  animation: text-animasi 5s 2s;
}

@keyframes text-animasi {
  50% {
    content: 'Terima kasih jasa Pahlawan ku.';
  }

  100% {
    content: 'Kalian akan selalu kami kenang.'
  }
}

nav ul {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

nav ul li {
  list-style: none;
  padding-right: 15px;
}

nav ul li a {
  color: white;
  font-weight: bold;
  text-decoration: none;
  font-size: 20px;
  text-shadow: 2px 2px 2px rgb(77, 74, 74);
  transition: all 0.5s ease;
}

nav ul li a:hover {
  cursor: pointer;
  color: rgba(180, 180, 180, 0.8);
}

header>img {
  width: 200px;
  padding: 10px;
}

/* Style Bagian Konten */
main {
  font-family: arial;
}

.content>h2 {
  text-align: center;
  font-size: 50px;
  margin-bottom: 3px;
}

hr {
  border-bottom: 2px solid black;
  width: 15%;
  margin: 0 auto 20px;
}

article {
  margin: 0 50px 50px;
  background-color: rgb(240, 240, 240);
  padding: 20px;
  border-radius: 10px;
}

article h2 {
  font-size: 30px;
  padding: 5px;
}

article p {
  padding: 8px;
  font-size: 17px;
}

article ul li {
  margin-left: 50px;
  padding-bottom: 5px;
}

article a,
.wrap-museum a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}

/* Style Bagian konten museum */
#museum {
  text-align: center;
  font-size: 50px;
  margin-top: 50px;
}

.wrap-museum {
  margin: 0 50px;
}

.museum-1 {
  border: 2px solid gray;
  background-color: rgb(250, 146, 127);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

.museum-2 {
  border: 2px solid gray;
  background-color: rgb(197, 215, 255);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

.museum-3 {
  border: 2px solid gray;
  background-color: rgb(112, 252, 166);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 6px 6px rgba(0, 0, 0, 0.5);
  margin-bottom: 50px;
}

.museum-1 h2,
.museum-2 h2,
.museum-3 h2 {
  font-size: 30px;
  padding: 5px;
}

.museum-1 p,
.museum-2 p,
.museum-3 p {
  padding: 8px;
  font-size: 17px;
}

.museum-1 img,
.museum-2 img,
.museum-3 img {
  width: 50%;
  float: right;
  border-radius: 5px;
  margin-left: 20px;
}

/* Bagian Kontak */

.wrap-data-biodata {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
}

.wrap-kontak>h2 {
  text-align: center;
  margin-bottom: 3px;
  font-size: 50px;
}

.data-user {
  width: 40%;
  background-color: rgb(59, 255, 196);
  padding: 20px;
  border-radius: 8px;
  margin-right: 10px;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.3);
}

input[type="email"],
input[type="tel"],
input[type="text"] {
  display: block;
  border: none;
  outline: none;
  border-bottom: 2px solid gray;
  font-size: 18px;
  margin-bottom: 20px;
  background: transparent;
  width: 40%;
}

input::placeholder {
  color: rgb(88, 17, 255);
}

input:focus {
  background-color: white;
}

form>label {
  font-size: 20px;
}

textarea {
  display: block;
  margin-top: 10px;
  outline: none;
  resize: none;
  margin-bottom: 20px;
  outline: none;
  width: 80%;
}

button {
  width: 40%;
  height: 30px;
  border-radius: 20px;
  outline: none;
  color: rgb(12, 241, 12);
  font-size: 15px;
  background-color: white;
  margin: 0 30%;
}

button:hover {
  background-color: rgb(12, 241, 12);
  color: white;
  cursor: pointer;
  box-shadow: 1px 1px 10px 2px black;
}

/* Bagian biodata */
aside {
  width: 40%;
  background-color: rgba(255, 165, 0, 0.6);
  display: flex;
  border-radius: 8px;
  padding: 15px;
  flex-direction: column;
  box-shadow: 0 0 8px 5px rgba(0, 0, 0, 0.3);
  transition: 2s;

}

aside h2 {
  font-size: 30px;
  text-shadow: 3px 3px 1px #eee;
  text-align: center;
}

aside img {
  width: 40%;
  border-radius: 10px;
  margin: auto;
}

aside table {
  margin-top: 20px;
  font-size: 18px;
  width: 100%;
}

aside table td {
  padding-left: 20px;
  padding-bottom: 10px;
}

aside table th {
  text-align: left;
}

input[type="email"],
input[type="tel"],
input[type="text"] {
  border-bottom: 2px solid gray;
  margin-bottom: 20px;
  width: 50%;
}

/* Bagian footer */
footer {
  background-image: linear-gradient(to right,
      rgb(255, 0, 0),
      rgb(255, 255, 255));
  padding: 20px;
  margin-top: 100px;
  font-family: RUbik-Medium;
  font-size: 15px;
  color: white;
  width: 100%;
}


/* Responsive */
@media screen and (max-width: 400px) {
  .wrap-museum {
    overflow: hidden;
  }

  article {
    overflow: hidden;
  }
}

@media screen and (max-width: 450px) {
  nav ul {
    flex-wrap: wrap;
    width: 30%;
  }

  nav ul li {
    padding-top: 10px;
  }
}

@media screen and (max-width: 500px) {
  button {
    width: 70%;
    margin: auto;
  }

  textarea {
    width: 100%;
  }


  aside table {
    font-size: 13px;
  }

  aside table td {
    padding: 8px;
  }
}

@media screen and (max-width: 576px) {
  nav ul {
    width: 75%;
  }

  header {
    flex-direction: column;
  }

  header>img {
    display: none;
  }
}

@media screen and (max-width: 663px) {
  button {
    width: 40%;
    margin: auto;
  }
}

@media screen and (max-width: 727px) {
  .wrap-data-biodata {
    flex-direction: column;
  }

  .data-user {
    width: 80%;
    margin: auto;
  }

  aside {
    width: 80%;
    margin: 20px auto 0;
  }
}

@media screen and (max-width: 1024px) {
  aside table {
    overflow: hidden;
  }
}

/* Clear */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
  *zoom: 1;
}